body {
line-height: 2;
background-color: rgba(250, 250, 250,1.0);
background-repeat: no-repeat;
}
.container {
width: 50%;
margin: 70px auto;
padding: 30px;
background-color: rgba(200, 200, 200, 0.03);
box-shadow: 0 0 1em rgba(130, 130, 130, 1);
}
.container article ul{
padding: 2%;
margin: 0 0 0 50px;
list-style: inside;
}
h1 {
font-size: 1.8em;
text-align: center;
}
p {
font-size: 1.1em;
padding: 0 25px;
text-shadow: white 0 0 15px 15px;
}
img {
width: 640px;
height: 500px;
margin: 0 auto;
display: block;
}
a {
text-decoration: none;
color: #2277bb;
}
a:visited {
color: #ddaa22;
}
